<h1>DATA GATHERING</h1>

In [1]:
import pandas as pd
df = pd.read_csv('Dataset.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
df.info(),df.shape,df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

(None,
 (541909, 8),
             Quantity      UnitPrice     CustomerID
 count  541909.000000  541909.000000  406829.000000
 mean        9.552250       4.611114   15287.690570
 std       218.081158      96.759853    1713.600303
 min    -80995.000000  -11062.060000   12346.000000
 25%         1.000000       1.250000   13953.000000
 50%         3.000000       2.080000   15152.000000
 75%        10.000000       4.130000   16791.000000
 max     80995.000000   38970.000000   18287.000000)

In [3]:
def null_count(df):
    return df.isnull().sum()

null_count(df)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
df['CustomerID'] = df['CustomerID'].fillna(0)
df['CustomerID'] = df['CustomerID'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  int64
 7   Country      541909 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 33.1+ MB

In [6]:
df['Country'].value_counts()

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

<h1>DATA PROCESSING</h1>

In [7]:
df_fil = df[df['Quantity']>50]
df_fil.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,United Kingdom
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688,United Kingdom
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688,United Kingdom
176,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,United Kingdom

In [9]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df_fil2 = df[(df['InvoiceDate'] > '2011-02-01') & (df['InvoiceDate'] < '2011-02-28')]
df_fil2.head(),df_fil2.tail()

(      InvoiceNo StockCode                        Description  Quantity  \
 77628    542776     21671       RED SPOT CERAMIC DRAWER KNOB        48
 77629    542776     21668     RED STRIPE CERAMIC DRAWER KNOB        12
 77630    542776     21670      BLUE SPOT CERAMIC DRAWER KNOB        12
 77631    542776    17013D       ORIGAMI ROSE INCENSE IN TUBE        96
 77632    542776     17096  ASSORTED LAQUERED INCENSE HOLDERS        48

               InvoiceDate  UnitPrice  CustomerID         Country
 77628 2011-02-01 08:23:00       1.25       15240  United Kingdom
 77629 2011-02-01 08:23:00       1.25       15240  United Kingdom
 77630 2011-02-01 08:23:00       1.25       15240  United Kingdom
 77631 2011-02-01 08:23:00       0.42       15240  United Kingdom
 77632 2011-02-01 08:23:00       0.21       15240  United Kingdom  ,
        InvoiceNo StockCode                        Description  Quantity  \
 103593    545071     21078   SET/20 STRAWBERRY PAPER NAPKINS          2
 103594    545071     22302           COFFEE MUG PEARS  DESIGN         6
 103595    545071     22301       COFFEE MUG CAT + BIRD DESIGN         6
 103596    545071     22722  SET OF 6 SPICE TINS PANTRY DESIGN         2
 103597    545071     22300       COFFEE MUG DOG + BALL DESIGN         6

                InvoiceDate  UnitPrice  CustomerID         Country
 103593 2011-02-27 15:59:00       0.85       15996  United Kingdom
 103594 2011-02-27 15:59:00       2.55       15996  United Kingdom
 103595 2011-02-27 15:59:00       2.55       15996  United Kingdom
 103596 2011-02-27 15:59:00       3.95       15996  United Kingdom
 103597 2011-02-27 15:59:00       2.55       15996  United Kingdom  )

In [10]:
df_desc = df[df['Description'].str.contains('white',case = False,na = False)]
df_desc

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
541626,581516,22171,3 HOOK PHOTO SHELF ANTIQUE WHITE,4,2011-12-09 11:26:00,8.50,14422,United Kingdom
541647,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446,United Kingdom
541712,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626,United Kingdom
541809,581579,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2011-12-09 12:19:00,1.79,17581,United Kingdom
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804,United Kingdom